<!doctype html>

<html lang="en">
    {{> htmlhead}}
    <body>
        {{> socialanalytics}}
        {{> header}}
        {{> projects/projectsbody}}
        {{> footer}}

        <script src="/assets/scripts/scripts.min.js"></script>
    </body>
</html>
