<!doctype html>

<html lang="en">
    {{> htmlhead}}
    <body class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {{> socialanalytics}}
        {{> header}}
        {{> projects/projectsbody}}

        <script src="/assets/scripts/scripts.min.js"></script>
    </body>
</html>
