<main>
    <p>Contact form</p>
    <form action="" name="contact" >
        <input type="text" name="name" placeholder="Name" required value="" />
        <input type="submit" name="submit" value="submit" />
    </form>
</main>
