<main class="mdl-layout__content">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet content">
        <p>Contact form</p>
        <form action="" name="contact" >
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input class="mdl-textfield__input" type="text" id="sample3" />
                <label class="mdl-textfield__label" for="sample3">Text...</label>
            </div><br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4" />
                <label class="mdl-textfield__label" for="sample4">Number...</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
            <p>
                Select your choice below:
            </p>
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Material</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                        <td>25</td>
                        <td>$2.90</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                        <td>50</td>
                        <td>$1.25</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                        <td>10</td>
                        <td>$2.35</td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <br />
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent flt-r">
                    Button
                </button>
            </div>
        </form>
    </div>
    {{> footer}}
</main>
