<main class="mdl-layout__content">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet content">
        <h1>{{site.business.companyname}}</h1>
        <h2>{{site.business.catchphrase}}</h2>
        <p>Gulp, Browserify, Jquery, Material Design Lite, Handlebars, Sass, Font Awesome are part of this setup. :)</p>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch">
            <input type="checkbox" id="switch" class="mdl-switch__input" />
            <span class="mdl-switch__label"></span>
        </label>
        {{!-- this is for testing, remove as it should only work with either hb or ng --}}
        <div class="angularapp-container" ng-app="myApp">
            <div class="" ng-controller="HelloController">
                {{test}}
            </div>
        </div>
        {{> submenu}}
    </div>
    {{> footer}}
</main>
<div class="toast">I am a toast!</div>
