<main class="mdl-layout__content">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet content">
        <p>I am a body for project partial: projects/projectsbody.hbs</p>
        <section>
            this is a section to push a change onto this partial
        </section>
        {{> submenu}}
    </div>
    {{> footer}}
</main>
